# Ignore Mac system files
.DS_Store

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/
ENV/
.venv/

# Ignore log files
*.log

# Ignore large HTML map file
HTML_Maps/clustering_kmeans_map.html

# Ignore specific files in Notebooks
Notebooks/clustering_kmeans_map.html


# Ignore other common files
*.swp
*.swo
*.bak
*.tmp
*.old

# Ignore large data files
Data/Global_Terrorism_Database_May_2022.xlsx
Data/Global_Terrorism_Database_May_2022.csv
# Ignore the GTD.git directory
GTD.git/terrorism_map.html
Notebooks/clustering.ipynb
Notebooks/terrorism_map.html
